.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infoIcon {
  color: #ffcb05;
  background-color: rgb(60, 90, 166);
  border-radius: 50%;
}

.instructions {
  width: 55dvw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  color: #ffcb05;
  font-family: serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.credits {
  color: #f1f2f3;
  text-shadow: 1px 1px 3px #3c5aa6;
  font-weight: 100;
}