.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  background-image: url('./assets/images/appBackground.gif');
  background-size: cover;
  background-position: center;
}
